<!DOCTYPE html>
<html>
<%- include('partials/head.ejs') %>
    <body>
        <%- include('partials/body_h1.ejs') %>
        <%- include('partials/nav.ejs') %>
        <h2>My Favorite Pokémon!</h2>
        <%- include('partials/pkmn_block.ejs') %>
    </body>
    <%- include('partials/footer.ejs') %>
</html>